<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Text Transformer</title>
</head>
<body>
  <form action="/" method="POST">
    <label>Input your text</label>
    <input type="text" name="text"><br>
    <label for="transforms">Choose transforms</label>
    <select id="transforms" name="transforms" size="5" multiple>
      <option value="upper">UPPER</option>
      <option value="lower">lower</option>
      <option value="capitalize">Capitalize</option>
      <option value="reverse">esrever</option>
      <option value="numbersToText">Number to text</option>
    </select>
    <input type="submit" value="submit">
  </form>
</body>
</html>